
obj_dir/

/sim/*.hex
/sim/*.meta
/sim_soc/*.hex
/sim_soc/*.meta

soc/README.md

*.vcd
*.fst
*.fst.hier

todo

__pycache__/
*.py[cod]

*.jou
*.log
*.str
.Xil/
*.cache/
*.hw/
*.sim/
*.runs/
*.gen/
*.ip_user_files/
vivado*.backup.*
/fpga/project/
/output/

.DS_Store
*.swp
*~
