
obj_dir/

/sim/test.hex
/sim_soc/test.hex

*.vcd
*.fst
*.fst.hier

todo

__pycache__/
*.py[cod]

*.jou
*.log
*.str
.Xil/
*.cache/
*.hw/
*.sim/
*.runs/
*.gen/
*.ip_user_files/
vivado*.backup.*

.DS_Store
*.swp
*~
